In [2]:
from fileopener import import_file_from_web, import_data_on_python, import_data_excel_to_pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [4]:
""" test pour le readcsv"""
import_file_from_web("https://www.data.gouv.fr/fr/datasets/r/a1466f7f-4ece-4158-a373-f5d4db167eb0", "data.csv")

df = pd.read_csv("data.csv", encoding="latin1")
df.head()

  jour;"nomReg";"numReg";"incid_rea"
0        2020-03-19;"Guadeloupe";1;0
1        2020-03-20;"Guadeloupe";1;0
2        2020-03-21;"Guadeloupe";1;0
3        2020-03-22;"Guadeloupe";1;5
4        2020-03-23;"Guadeloupe";1;0

In [8]:
""" test pour le readexcel"""
url ="https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c04_isd_esperance_de_vie_xlsx/"

df2 = import_data_excel_to_pandas(url)
df2.head()

,Espérance de vie en 2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date de mise à jour : mai 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en années
3,Département,NaN,A la naissance,NaN,A 60 ans,NaN,A 65 ans,NaN
4,NaN,NaN,Hommes,Femmes,Hommes,Femmes,Hommes,Femmes