In [5]:
from fileopener import import_data_csv_to_pandas, import_data_excel_to_pandas, dataframe_creator
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [4]:
""" test pour le readexcel"""
url ="https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c04_isd_esperance_de_vie_xlsx/"

df2 = import_data_excel_to_pandas(url)
df2.head()

,Espérance de vie en 2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date de mise à jour : mai 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en années
3,Département,NaN,A la naissance,NaN,A 60 ans,NaN,A 65 ans,NaN
4,NaN,NaN,Hommes,Femmes,Hommes,Femmes,Hommes,Femmes

In [6]:
l = dataframe_creator("donnees.txt")
print(l)

NameError: name 'file' is not defined